h1 {
    text-align: center;
}

.dark h1 {
    color: aliceblue;
    font-weight: 500;
}

p {
    font-size: 1.1rem;
    font-weight: 500;
}

ol {

    list-style-type: decimal;

    font-size: 1.1rem;
}