*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

a{
    background-color: transparent;
    color: var(--sec);
}

header{
    display: flex;
    padding: .5rem 1rem;
    /* padding-top: 1rem; */
    
    justify-content: flex-end;
    align-items: center;
    min-height: 3rem;
    color: var(--sec);
    background-color: var(--main);
    /* backdrop-filter: blur(6px); */
    border-bottom: solid 0.1rem var(--sec);
    /* position: fixed;
    top: 0; 
    width: 100%; */
    position: sticky;
    top: 0;
    z-index: 15;
}

.logo{
  
    font-size: 2rem;
    margin-right: auto;
    font-weight: 400; 
}




.logo img{

  position: absolute;
  height: 5rem;
  width: 5rem;
  top : -0.8rem;
  left:1rem;
  
  
}

.nav {
    display: flex;
    height: 100%;
}

.nav a{
    font-size: 1.5rem;
    color: var(--sec);
    margin-left: 1rem;
    padding: 1rem;
    font-weight: 400; 
}


.nav li{
    transition: all .5s;
  }  
.nav li:hover {
    z-index: 2; 
    
    transform: scale(1.2);

}

#nav-menu{
  display: none;
}

.contact{
  background-color: black;
  padding: 0.3rem 0.7rem;
  border-radius: 50px;
  margin-left: 1rem;
  transition: all .5s;
  
  border: solid 1px var(--sec);
	box-shadow: 0.2rem 0.2rem 0 hsl(var(--shadowColor) );
}

.contact:hover {
    z-index: 2; 
    
    transform: scale(1.2);

}
#contact{


    font-size: 1.2rem;
  color: var(--sec);
}

.feather-align-right{
    display: none;
  
    transition: all 1s;
  }
  
  .feather-x{
    display:none;
    transition: all 1s;
  }



  @media (width <= 1111px) {

    .feather{
        /* background-color: gray; */
      }  
    .feather-align-right{
      display: block;
      margin-left: .8rem;  
    }
    .nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        z-index:-1;
        width: 100%;
        height: 100vh;
        font-size: 5rem;
        background-color: var(--main);
        align-items: center;
        padding-top: 15%;
        gap: 1rem;
        overflow-y: scroll;
    
        transition: all .5s ease-in;
          transform: translateY(-120%);
    
      }
      input[type="checkbox"]:checked ~ .nav {
          transform: translateY(0%);
      }
    
      input[type="checkbox"]:checked ~ label .navmenu .feather-x {
      transform: rotate(180deg);
      transition: all .5s;
        display:block;
        margin-left: .8rem;
    
    
    
      }
      
      input[type="checkbox"]:checked  ~ label .navmenu .feather-align-right{
        display: none;
      }
  } 