
.container{
  width: 100%;
  height: 100%;
  background-color: var(--main) ;
  scroll-snap-type: y mandatory;
}
.section{
    padding: 0 1rem;
    width: 100%;
    
   min-height:calc(100vh - 4.4rem); 
   
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-top:5rem;
    color: var(--sec); 
}

  h1{
    font-size: 3rem;
  }

  .pg1{
    min-height: 100vh; 
    display:flex;
    flex-wrap: wrap;
    background-image: url("../assets/bach.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center; 
  }

  .pg2{
    background-image: url('../assets/naga.webp');
    height:80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.9);
    background-position: center;
  
}

  .pg1 .maintxt{
    /* align-self: center; */
    font-size: 6rem;
    line-height: 1;
    padding-top: 2rem;
    padding-left: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    color: white;
    text-overflow: ellipsis;
    max-width: 50%;
  
    /* background-color: blue; */
}

.txt h4{
    padding-top: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 1.5rem;
	/* text-shadow: 0.25rem 0.25rem 0 powderblue; */
}
.txt p{
   
    padding-left: 1.5rem;


}

.notxt{
    top: 0;
}

.head2{
    font-size: 3rem;
    margin-top: 3rem;
    padding-top: 40%;
}

@media (width <= 550px){

    h1{
        font-size: 2rem;
    }

    .pg1 .maintxt{
        /* align-self: center; */
        font-size: 4rem;
        justify-self: left;
        padding-left: .3rem;

        letter-spacing: 0;
        /* background-color: blue; */
    
    }
   .txt h4{
    padding-left: .3rem;
    padding-top: 1rem;
   } 
   .txt p{
    padding-left: .3rem;
   }
} 