
.container{
  width: 100%;
  height: 100%;
  background-color: var(--main) ;
  scroll-snap-type: y mandatory;
}
.section{
    padding: 0 .5rem;
    width: 100%;
    
   min-height:100vh; 
   
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-top:5rem;
    color: var(--sec); 
}

  h1{
    font-size: 3rem;
  }

  .pg1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    align-items: stretch; /* stretch items to fill container height */
    grid-auto-rows: minmax(calc(50vh - 1rem),auto); /* set a minimum height for the grid items */
  }

  .pg2{
    background-image: url('../assets/naga.webp');
    min-height: 70vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.9);
    background-position:  center;    
  
}

  .pg1 .maintxt{
    /* align-self: center; */
    font-size: 7rem;
    line-height: 1;
    padding-top: 2rem;
    padding-left: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    color: white;
    text-overflow: ellipsis;
    max-width: 50%;
  
    /* background-color: blue; */
}

.pg1 .img {
  margin: 1rem;
  background-image: url("../assets/bach.jpeg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center; 
}
.txt h4{
    padding-top: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    padding-left: 1.5rem;
	/* text-shadow: 0.25rem 0.25rem 0 powderblue; */
}
.txt p{
   
    padding-left: 1.5rem;


}

.notxt{
    top: 0;
}

.head2{
    font-size: 3rem;
color: var(--sec);
padding-top: 1.5rem;
padding-bottom: 1.5rem;
border-top:solid 1px aliceblue ;
border-bottom:solid 2px aliceblue ;
  }


@media (width <= 1111px){


    
    .pg1 .maintxt{
      /* align-self: center; */
      font-size: 4.5em;
      justify-self: left;
      padding-left: 0;
      padding-top: 2rem;
      letter-spacing: 0;
      /* background-color: blue; */
  
  }

  
   .txt h4{
    padding-left: 0rem;
    padding-top: 1rem;
   } 
   .txt p{
    padding-left: .1rem;
   }

}


@media (width <= 550px){

.pg1{
  
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}
.head2{
  padding: 1rem;
  font-size: 2rem;
}

    h1{
        font-size: 2rem;
    }

    .pg1 .maintxt{
        /* align-self: center; */
        font-size: 3.75em;
        justify-self: left;
        padding-left: 0.5rem;
        padding-top: 2rem;
        letter-spacing: 0;
        /* background-color: blue; */
    
    }
   .txt h4{
    padding-left: 0.5rem;
    
    padding-top: 1rem;
   } 
   .txt p{
    padding-left: .5rem;
   }
} 