* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

a {
    background-color: transparent;
}

header {
    display: flex;
    padding: 1rem 1rem;
    /* padding-top: 1rem; */

    justify-content: flex-end;
    align-items: center;
    min-height: 3rem;
    /* backdrop-filter: blur(6px); */
    border-bottom: solid 0.1rem var(--sec);
    /* position: fixed;
    top: 0; 
    width: 100%; */
    position: sticky;
    top: 0;
    z-index: 15;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: 3em;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 400;
}

.logo img {
    position: absolute;
    height: 5rem;
    width: 5rem;
    top: .3rem;
    left: 0;
}

.logo p{
    padding-top: 0.3em;
    margin-left: 0.5em;
}
.nav {
    display: flex;
    height: 100%;
    padding-top: 2px;
    margin-right: 10px;
}

.nav a {
    font-size: 1.2rem;
    margin-left: .5rem;
    padding: 1rem;
    font-weight: 400;
}


.nav li {
    transition: all .5s;
}

.nav li:hover {
    z-index: 2;

    transform: scale(1.2);

}

#nav-menu {
    display: none;
}

.contact {
    background-color: black;
    color: aliceblue;
    padding: 0.2rem 0.6rem;
    border-radius: 50px;
    margin-left: .6rem;
    transition: all .5s;

    border: solid 1px aliceblue;
    /* box-shadow: 0.2rem 0.2rem 0 hsl(var(--shadowColor) ); */
}

.contact:hover {
    z-index: 2;

    transform: scale(1.2);

}

#contact {
    font-size: 1.2rem;
    color: aliceblue;
}

.feather-align-right {
    display: none;
    transition: all 1s;
}

.feather-x {
    display: none;
    transition: all 1s;
}

.feather-youtube{
    margin-top: 0.8rem;
    padding-right: 0.5rem;
}


@media only screen and (max-width:1270px) {

    .cta, .logo{
        font-size: 1.1rem;
    }

    .feather {
        /* background-color: gray; */
    }

    .feather-align-right {
        display: block;
        margin-left: .8rem;
    }

    .nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 1rem;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        font-size: 5rem;
        align-items: center;
        padding-top: 15%;
        gap: 1rem;
        overflow-y: scroll;
        background-color: white;
        transition: all .5s ease-in;
        transform: translateY(-120%);

    }

    input[type="checkbox"]:checked~.nav {
        transform: translateY(0%);
        margin-left: 0rem;
    }

    input[type="checkbox"]:checked~label .navmenu .feather-x {
        transform: rotate(180deg);
        transition: all .5s;
        display: block;
        margin-left: .8rem;
    }

    input[type="checkbox"]:checked~label .navmenu .feather-align-right {
        display: none;
    }

    .logo p{
        padding-top: 0.5em;
    }
}

@media only screen and (max-width:750px) {
    .cta, .logo{
        font-size: 1.2rem;
    }

    .feather, .feather-youtube{
        display:none;
    }
    
    .logo p{
        padding-top: 0.5em;
    }

    .contact{
        font-size: 20px;
    }
}

@media only screen and (max-width:450px) {
    .cta, .logo{
        font-size: 1rem;
    }

    .feather, .feather-youtube{
        display:none;
    }
    
    .logo p{
        padding-top: 1em;
    }

    #nav-menu{
        display: none;
    }
}